<header>
  <nav>
    <section class="logo">
      <a href="/" class="app-name">Dinner Bell</a>
      <a class="app-slogan">come and get it</a>
    </section>
    <section class="page-links">
        <a class="nav-links" href="/menu">menu</a>
        <a class="nav-links" href="/my-orders">my orders</a>
    </section>
    <section class="user-cart">
      <i class="fas fa-shopping-cart"></i>
      <h5 class="nav-user">Logged in as: Thea</h5>

    </section>
  </nav>
</header>

