<header>
  <nav>
    <section class="logo">
      <a href="/" class="app-name">Dinner Bell</a>
      <a href="/" class="app-slogan">come and get it</a>
    </section>
    <section class="page-links">
        <a class="nav-links" href="/menu">MENU</a>
        <a class="nav-links" href="/my-orders">MY ORDERS</a>
    </section>
    <section class="user-cart">
      <a href="/checkout" class="fas fa-shopping-cart"></a>
      <h5 class="nav-user">Logged in as: Thea</h5>

    </section>
  </nav>
</header>

