<!DOCTYPE html>
<html lang="en">
<head>
  <title>Food Ordering App | Dinner Bell</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/index.css" type="text/css" />

  <!--External Fonts-->
  <link href="https://fonts.googleapis.com/css?family=Unica+One&display=swap" rel="stylesheet">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <!--Font awesome-->
  <script src="https://kit.fontawesome.com/2c2622fb6e.js" crossorigin="anonymous"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
