<header>
  <nav>
    <section class="logo">
      <!-- <img src="/public/images/logo.png"> -->
      <a>Dinner Bell</a>
      <a>come and get it</a>
    </section>
    <section class="page-links">
      <a href="">Menu</a>
      <a href="">My Orders</a>
    </section>
    <section class="user-cart">
      <h5>Logged in as: Thea</h5>
      <i class="fas fa-shopping-cart"></i>
    </section>
  </nav>
</header>

