<%- include('partials/head') %>

<%- include('partials/header') %>
<main class="main">
    <h1>Dinner Bell</h1>
    <p class="homepage-slogan">Ordering Online Just Got Easier</p>
    <button class="order-button"><a href="/menu" class="order-button-link">Order Now</a></button>

</main>
<%- include('partials/footer') %>
