<%- include('partials/head') %>
  <%- include('partials/header') %>
  <main class="main-homepage">
      <h1>Dinner Bell</h1>
      <p class="homepage-slogan">Ordering Online Just Got Easier</p>
      <a href="/menu" class="order-button-link">Order Now</a>
  </main>
  <%- include('partials/footer') %>

