<%- include('../partials/head') %>
<%- include('../partials/header') %>
  <section class="center-section">
    <h1>Order Confirmation</h1>
    <article>
      <p>
        Your confirmation number is: 1
      </p>
      <p> 
        Your pick up time is: FROM DATABASE
      </p>
    </article>
  </section>

<%- include('../partials/footer') %>