<%- include('../partials/head') %>
<%- include('../partials/header') %>
  <section class="center-section">
    <h1>Order Confirmation</h1>
    <article>
      <p>
        Your confirmation number is: 3948
      </p>
      <p>
        Your pick up time is: <span id="pickUpTime"></span>
      </p>
    </article>
    <script type="text/javascript" src="/scripts/checkConfirmation.js">

    </script>
  </section>

<%- include('../partials/footer') %>
