.center-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: quicksand;
}

.article{
  font-weight: bolder;
}
.pickup-location {
  margin-top: 35px;
}

pickup-details, .confirmation-title {
  color: #f19b79;
  font-family: unica one;
  font-size: 30px;
  display: flex;
  justify-content: center;
}
iframe {
  margin-top: 20px;
  border: solid 7px #246160;
}
.confirmation-num {
  display: flex;
  justify-content: center;
}
.pickup-time {
  display: flex;
  justify-content: center;
}

#confirmation-info {
  width: 100%;
  margin: 25px auto;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-family: quicksand;
}

#pending-block {
  display: block;
}

#confirmed-block {
  display: none;
}

.bell-icon {
  width: 50px;
  padding: auto;
  margin: 25px auto;
  display: flex;
  color: #246160;
}

@keyframes pulse {
  0%   {opacity: 1;}
  50%  {opacity: 0.25;}
}

@keyframes ring {
  10% {transform: rotate(-10deg)};
  20% {transform: rotate(10deg)};
  25% {transform: rotate(-10deg)};
  30% {transform: rotate(10deg)};
  35% {transform: rotate(-10deg)};
  40% {transform: rotate(10deg)};
  50% {transform: rotate(0deg)};
}

#confirmed-bell {
  display: none;
}

.pulse {
  animation: pulse 2s infinite;
  animation-timing-function: cubic-bezier(0.3, 0.4, 0.5, 1.6);
}

.ring {
  animation: ring 2s infinite;
  animation-timing-function: cubic-bezier(0.3, 0.4, 0.5, 1.6);
  transform-origin: top center;
}
