.center-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

#confirmation-title {
  color: #f19b79;
  font-family: unica one;
  font-size: 30px;
}
