footer {
  background-color: #c3e2ce;
  font-family: Unica one;
}
.company {
  display: flex;
  justify-content: center;
  margin: 12px;
}
.copy-right{
  display: flex;
  justify-content: center;
  margin: 12px;
}
.little-links {
  display: flex;
  justify-content: center;
}
