// See: https://sass-lang.com/

body {
  background-color: #c3e2ce;

  h1 {
    color: #246160;
    background: rgba(255, 255, 255, 0.7);
    padding: 10px;
    font-family: Unica one;
    font-size: 70px;
  }
}

header {
  display: flex;
  flex-direction: row;
  background-color: #c3e2ce;
  justify-content: space-between;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  margin: 0px;
  padding: 0px;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f19b79;
  color: white;
  padding: 0px 15px 10px 15px;
  height: 100px;

}

.app-name {
  font-family: Unica one;
  width: max-content;
  font-size: 50px;
}

.app-slogan {
  font-family: quicksand;
  width: fit-content;
  font-size: larger;
  align-self: center;
}

.page-links {
  display: flex;
  justify-content: space-evenly;
  // width: 1000px;
}

.nav-links {
  align-content: center;
  text-decoration: none;
  font-family: quicksand;
  padding: 20px 70px;
  font-size: xx-large;
  color: #246160;
}

.nav-links:hover {
  color: white;
}

.user-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  color: #246160;
  width: 250px;
}

.fas {
  width: fit-content;
  align-self: center;
  font-size: xx-large;
  color: #246160;
}

.fas:hover {
  color: white;
}

.nav-user {
  margin-top: 0px;
    margin-bottom: 0px;
    font-family: quicksand;
    font-size: small;
    padding-top: 15px;
    color: #246160;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  background-image: url(https://images.pexels.com/photos/2233348/pexels-photo-2233348.jpeg);
  background-repeat: no-repeat;
  width:100%;

  min-height: 1000px;
}

.homepage-slogan {
  background: rgba(255, 255, 255, 0.7);
  padding: 10px;
  font-family: quicksand;
  color: #246160;
  font-size: 25px;
}

.order-button {
  background-color: #c3e2ce;
  padding: 10px 20px;
  font-size: 24px;
  font-family: quicksand;
  border-radius: 10px;
}

.order-button:hover {
  background-color:#246160;
 
}

.order-button-link  {
  text-decoration: none;

}
a.order-button-link {
  &:hover {
    color: white;
    text-decoration: none;
  }
  color: #246160;
  text-decoration: none;
}
