.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}


.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}
.jumbotron .text-center {
  display: flex;
  justify-content: center;
}
.album {
  display: flex;
  justify-content: center;
}
.row {
  display: flex;
  justify-content: center;
}
.col-md-4 {
  flex: 0 0 60%;
  max-width: 95%;
}
