.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: red;
}


.jumbotron .container {
  max-width: 40rem;
}
.jumbotron {
   background-image: url("https://images.pexels.com/photos/2619967/pexels-photo-2619967.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  display: flex;
  justify-content: center;
}
.album {
  display: flex;
  justify-content: center;
}
.row {
  display: flex;
  justify-content: center;
}
.col-md-4 {
  flex: 0 0 60%;
  max-width: 95%;
}
