
.my-orders-main {
  font-family: quicksand;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  // background-color: white;
}

.my-orders-div {
  height: 50px;

}

h3 {
  display: flex;
}

.my-orders {
  display: flex;
  justify-content: center;
  font-family: unica one;
  font-size: xx-large;
  color: #f19b79;

}

.my-orders-table {
  display: flex;
  justify-content: center;
}

// .my-table {
//   width: 70% !important;
// }

th, td {
  border-bottom: 1px solid #ddd;
  text-align: center;
  padding: 10px 80px;
}

table.center {
  width:70%;
  margin-left:15%;
  margin-right:15%;
}

.justify-right {
  display: flex;
}

.my-orders-button {
  background-color: #c3e2ce;
  padding: 10px 20px;
  font-size: 18px;
  font-family: quicksand;
  border-radius: 10px;
  border: none;
  color: #246160;
  // transition: all 0.2s ease-in-out;
}

.my-orders-button:focus {
  outline:0;
}

.my-orders-button:hover {
  background-color: #246160;
  color: white;
}

.table-header {
  color: #246160;
  font-size: large;
}

.food-section {
  display: flex;
}

.order-row {
  font-size: larger;
}

.food-row {
  display: none;
  height: 0px;
  transition: all ease 300ms;
}

.food-name {
  font-weight: 700;
}

.food-deets {
  margin: 5px;
}


.food-info {
  text-align: left;
  font-size: small;
  border-bottom: none;

}
.food-right{
  text-align: right;
}
